HostKey /rhodecode/services/ssh/ssh_host_rsa_key
HostKey /rhodecode/services/ssh/ssh_host_dsa_key
HostKey /rhodecode/services/ssh/ssh_host_ecdsa_key
HostKey /rhodecode/services/ssh/ssh_host_ed25519_key

AuthorizedKeysFile /rhodecode/services/ssh/authorized_keys

PasswordAuthentication no

AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
Banner none
